p,
ol,
ul,
li,
hr,
body,
textarea
{
  margin: 0;
  padding: 0;
}

body {
    font-size: 1rem;
    line-height: 1.625;
    word-break: keep-all;
    cursor: default;
    background-color: gainsboro;
	  color: #000;
}

header,
section {
  display: block;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

#logo {
  width: 50%;
  max-width: 50vw;
  min-width: 50vw;
  left: -2.25rem auto;
  margin: 10px auto;
  height: auto;
  position: sticky;
  top: 0;
  }

  #logo:hover {
    background: url(미래직업\ 시나리오-02-01.svg);
    }

#container {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    position: relative;
    top: 100%;
    left: 50%;
    bottom: 390px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 95%;
    height: 30vh;
    padding: 1rem;
    line-height: 1;
}

#output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80vh auto;
    /* background-color: white; */
    font-family: 'Spoqa Han Sans Neo','sans-serif';
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    color: black;
}


#subtitle {
    width: 100%;
    display: flex;
    font-size: .5em;
    letter-spacing: 0;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 35%;
    left: 0;
    /* bottom: -50%; */
    margin-top: 45%; /*버튼 위치 설정*/
  }

#btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: white;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 15px;
    font-weight: 500;
    padding: 10px 12px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px #fff, inset 0 -1px 1px #aaa, 0 2px 4px -3px #666;
  }

#btn:hover {
    text-decoration: none;
    background-color: #0000ff;
    color: white;
    padding: 10px 12px;
    border: 1px solid #000000;
    -moz-box-shadow: 4px 4px 4px #000000;
    -webkit-box-shadow: inset 0 1px 1px #aaa, inset 0 -1px 1px #aaa;
    -webkit-box-shadow: 4px 4px 4px #000000;
    box-shadow: 4px 4px 4px #000000;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}

li {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  padding: 30px;
  width: calc(100% 5px);
  font-size: 18px;
  line-height: 1.5;
  height: calc(100%  200px);
  padding-top: 2%;
  padding-bottom: 10%;
  list-style-type: none;
  transition-duration: all 1s;
}

input {
  position: fixed;
  left: -9999px;
}

label {
  display: block;
  top: 35px;
	right: 35px;
	position: fixed;
	z-index: 100;
	font-size: 22.5px;
  cursor: pointer;
  color: blue;
  transition-duration: all 0.3s
}

label:hover {
  font-weight: 700;
  border-bottom: solid 3px blue;
}

.submenu {
  display:none;
}

#menuBtn:checked ~ .submenu {
  position: fixed;
  width: 10vw auto;
  height: 29vh;
  border-radius: 10px;
  background: linear-gradient(to right, grey, silver, gainsboro, silver, grey);
  /* background: rgba(255, 255, 255, 0.9); */
  z-index: 4;
  left: 50%;
  top: 50%;
  max-width: 50vw;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  word-break: keep-all;
  display: inline-block;
  transition-property: height;
  transition-duration: 0.5s, 0.5s;
}

#menuBtn:checked ~ .submenu:hover {
  width: 30vw auto;
  height: 50vh;
  
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: silver;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 10px;
  padding-bottom: 10px;
}